<template>
  <div class="table-hand">
      <div class="hand-layer">
          <div class="hand-layer__controls">
              <input type="file" @input="addCardToHand" ref="fileInput">
              <input type="text" @input="addCardToHandFromUrl" ref="fileInputText">
              <button type="button" @click="deleteSelectedHandCards">Удалить выбранные карты</button>
              <button type="button" @click="flipSelectedHandCards">Перевернуть выбранные карты</button>
              <button type="button" @click="zoomSelectedHandCards">Увеличить выбранные карты</button>
              <p>Press T to move selected cards to board</p>
          </div>
          <div class="hand" id="handStage" ref="handStage"></div>
      </div>
      <div class="table-layer">
          <div class="table" id="tableStage" ref="tableStage"></div>
          <div class="hand-layer__controls" style="width: 500px;">
              <form action="" @submit.prevent="addCardToTable" style="text-align: left">
                  <input type="file" ref="fileInputTable" multiple>
                  <input type="text" placeholder="Columns amount" v-model="cols">
                  <label style="display: block;">is deck
                      <input type="checkbox" v-model="isDeck">
                  </label>
                  <button type="submit">Add</button>
              </form>
              <button type="button" @click="deleteSelectedTableCards">Удалить выбранные карты</button>
              <button type="button" @click="flipSelectedTableCards">Перевернуть выбранные карты</button>
              <button type="button" @click="zoomSelectedTableCards">Увеличить выбранные карты</button>
              <button type="button" @click="createDeckFromSelectedTableCards">Объединить выбранные карты в колоду</button>
              <button type="button" @click="shuffleDeck">Перемешать колоду</button>
          </div>
      </div>
      <div class="connector-layer">
          <div class="connector" id="connectorStage" ref="connectorStage"></div>
      </div>
      <div class="zoom-container" ref="zoomContainer" @click="closeZoom" v-if="imagesForZoom.length">
          <div class="zoom-container__image" v-for="image in imagesForZoom">
              <img :src="image" alt="">
          </div>
      </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import {CardSetup, RenderConfig} from "@/types/types";
import TableHand from "@/api/TableHand";
import EventApi from "@/api/EventsApi";
import Deck from "@/api/Deck";
import Item from "@/api/Item";
@Component({
    components: {}
})


export default class TableHandLayer extends Vue {
    private tableHandInstance: TableHand|null = null;
    private zoomedImages: Array<string> = [];
    private cols: string = '';
    private isDeck: boolean = false;

    private handImages: Array<CardSetup> = [
        {
            face_src: './images/card-main.png',
            backface_src: './images/backface.png',
            id: 'card_id1'
        },
        {
            face_src: './images/card-main.png',
            backface_src: './images/backface.png',
            id: 'card_id2'
        },
        {
            face_src: './images/card-main.png',
            backface_src: './images/backface.png',
            id: 'card_id3'
        },
        {
            face_src: './images/card-main.png',
            backface_src: './images/backface.png',
            id: 'card_id4'
        }
    ];

    private tableImages: Array<CardSetup> = [
        {
            face_src: 'https://cdn.hearthstonetopdecks.com/wp-content/uploads/2016/04/aberrant-berserker-300x429.png',
            backface_src: './images/backface.png',
            id: 'card_id12'
        },
        {
            face_src: 'https://cdn.hearthstonetopdecks.com/wp-content/uploads/2017/07/abominable-bowman-1-300x429.png',
            backface_src: './images/backface.png',
            id: 'card_id22'
        },
        {
            face_src: 'https://cdn.hearthstonetopdecks.com/wp-content/uploads/2016/11/abyssal-enforcer-1-300x429.png',
            backface_src: './images/backface.png',
            id: 'card_id32'
        },
        {
            face_src: 'https://cdn.hearthstonetopdecks.com/wp-content/uploads/2015/08/acidmaw-hd-300x429.png',
            backface_src: './images/backface.png',
            id: 'card_id42'
        },
        {
            face_src: 'https://cdn.hearthstonetopdecks.com/wp-content/uploads/2014/03/acolyte-of-pain-300x429.png',
            backface_src: './images/backface.png',
            id: 'card_id52'
        },
        {
            face_src: 'https://cdn.hearthstonetopdecks.com/wp-content/uploads/2020/01/Aeon-Reaver-300x414.png',
            backface_src: './images/backface.png',
            id: 'card_id62'
        },
        {
            face_src: 'https://cdn.hearthstonetopdecks.com/wp-content/uploads/2018/11/akali-the-rhino-card-art-300x429.png',
            backface_src: './images/backface.png',
            id: 'card_id72'
        },
        {
            face_src: 'https://cdn.hearthstonetopdecks.com/wp-content/uploads/2017/04/alakir-the-windlord-new-300x429.png',
            backface_src: './images/backface.png',
            id: 'card_id82'
        }
    ];

    /**
     * Удалить выбранные карты руки
     */
    private deleteSelectedHandCards(): void
    {
        if (!this.tableHandInstance) {
            return;
        }

        this.tableHandInstance.deleteSelectedHandItems();

    }

    /**
     * Удалить выбранные карты стола
     */
    private deleteSelectedTableCards(): void
    {
        if (!this.tableHandInstance) {
            return;
        }

        this.tableHandInstance.deleteSelectedTableItems();

    }

    /**
     * Перевернуть выбранные карты руки
     */
    private flipSelectedHandCards(): void
    {
        if (!this.tableHandInstance) {
            return;
        }

        this.tableHandInstance.flipSelectedHandItems();
    }

    /**
     * Перевернуть выбранные карты стола
     */
    private flipSelectedTableCards(): void
    {
        if (!this.tableHandInstance) {
            return;
        }

        this.tableHandInstance.flipSelectedTableItems();
    }


    /**
     * Увеличить выбранные карты руки
     */
    private zoomSelectedHandCards(): void
    {
        if (!this.tableHandInstance) {
            return;
        }

        this.tableHandInstance.zoomSelectedHandItems();

    }

    /**
     * Увеличить выбранные карты стола
     */
    private zoomSelectedTableCards(): void
    {
        if (!this.tableHandInstance) {
            return;
        }

        this.tableHandInstance.zoomSelectedTableItems();

    }

    /**
     * Добавить карту в рукку
     * @private
     */
    private addCardToHand(): void
    {
        if (!this.tableHandInstance) {
            return;
        }

        const input = this.$refs.fileInput as HTMLInputElement;
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.readAsDataURL(input.files[0]);
            reader.onloadend = () => {
                this.tableHandInstance?.addHandItem(reader.result as string);
            };
        }
    }

    /**
     * Добавить карту на стол
     * @private
     */
    private addCardToTable(): void
    {
        if (!this.tableHandInstance) {
            return;
        }
        let urls: Array<string> = [];
        const input = this.$refs.fileInputTable as HTMLInputElement;
        const fillUrlsArray = () => {
            return new Promise((resolve => {
                if (input.files) {
                    const filesArray = Array.from(input.files);
                    filesArray.forEach((file: File, index) => {
                        const reader = new FileReader();
                        reader.readAsDataURL(file);
                        reader.onloadend = () => {
                            urls.push(reader.result as string);
                            if (index === filesArray.length - 1) {
                                resolve(urls);
                            }
                        }
                    });
                }
            }));
        }

        fillUrlsArray().then((result) => {
            this.tableHandInstance?.addTableItems(result as Array<string>, parseInt(this.cols), this.isDeck);
        });
    }

    /**
     * Добавить карту в рукку по урлу картинки
     * @private
     */
    private addCardToHandFromUrl(): void
    {
        if (!this.tableHandInstance) {
            return;
        }
        this.tableHandInstance.addHandItem((this.$refs.fileInputText as HTMLInputElement).value);
    }

    /**
     * Создать колоду из карт на столе
     * @private
     */
    private createDeckFromSelectedTableCards(): void
    {
        if (!this.tableHandInstance) {
            return;
        }

        this.tableHandInstance.createDeckFromSelectedTableCards();
    }

    /**
     * Перемешать колоду
     * @private
     */
    private shuffleDeck(): void
    {
        if (!this.tableHandInstance) {
            return;
        }

        function shuffleArray(array: Array<Item>) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }

        const selectedDecks: Array<Deck> = this.tableHandInstance.getSelectedDecks();
        selectedDecks.forEach((deck) => {
            console.log(deck);
            shuffleArray(deck.getDeckItems());
            console.log(deck);

        });
        this.tableHandInstance.shuffleDeck();
    }

    private closeZoom(): void
    {
        this.zoomedImages = [];
    }

    private bindEvents(): void
    {
        EventApi.addEventListener(EventApi.ZOOM_ITEMS, (e: any) => {
            console.log(e);
            this.zoomedImages = [];
            (e.detail as Array<string>).forEach((img) => {
                //@ts-ignore
                this.zoomedImages.push(img);
            });
        });
    }

    private get imagesForZoom(): Array<string>
    {
        return this.zoomedImages;
    }

    mounted(): void {
        const renderParams: RenderConfig = {
            handContainer: this.$refs.handStage as HTMLElement,
            tableContainer: this.$refs.tableStage as HTMLElement,
            tableLayoutPreset: null,
            handImages: this.handImages,
            tableImages: this.tableImages,
            zoomContainer: this.$refs.zoomContainer as HTMLElement,
            connectorContainer: this.$refs.connectorStage as HTMLElement,
            tableColumns: 3,
        };
        this.tableHandInstance = new TableHand(renderParams);

        this.bindEvents();
    }

    beforeDestroy(): void
    {
        this.tableHandInstance?.unbindEvents();
    }
}
</script>


<style scoped lang="scss">
    .hand-layer {
        position: absolute;
        top: 0;
        right: 0;

        &__controls {
            display: flex;
            flex-direction: column;
        }
    }
    #handStage {
        width: 275px;
        height: 223px;
        overflow: auto;
    }

    .zoom-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.5);

        &__image {
            width: 416px;
            height: 575px;
            margin: 0 40px;

            img {
                object-fit: contain;
                object-position: center;
                width: 100%;
                max-height: 100%;
            }
        }
    }

    #tableStage {
        width: 495px;
        height: 580px;
        background: #000;
        border-radius: 10px;
    }

    #connectorStage {
        position: fixed;
        top: 0;
        left: 0;
    }
</style>
