<template>
  <div id="app">
    <table-hand-layer></table-hand-layer>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TableHandLayer from "@/components/TableHandLayer.vue";

@Component({
  components: {
      TableHandLayer
  },
})
export default class App extends Vue {}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
  body, html, * {
    padding: 0;
    margin: 0;
  }
</style>
